---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div>
  I am passionate about teaching and providing students with hands-on experiences with mechanics, biology, and modeling. I am currently participating in the Future Faculty program hosted by the <a href="https://www.cmu.edu/teaching/graduatestudentsupport/futurefacultyprogram.html">CMU Eberly Center for Teaching Excellence & Educational Innovation</a>. I am also an active member and director for CMU's National Biomechanics Day chapter, where we put on workshops at CMU and in the local community to introduce high school students to biomechanics and bioengineering.
</div>

{% assign teaches = site.teaching | sort: "date" | reverse %}

{% comment %}
Group by the first category (or 'uncategorized' if none)
{% endcomment %}
{% assign groups = teaches | group_by_exp: "teach", "teach.categories | first | default: 'uncategorized'" %}

{% assign category_order = "course,guest_lecture,TA,uncategorized" | split: "," %}
{% assign ordered_groups = "" | split: "" %}
{% for wanted in category_order %}
  {% for g in groups %}
    {% if g.name == wanted %}
      {% assign ordered_groups = ordered_groups | push: g %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for g in groups %}
  {% unless category_order contains g.name %}
    {% assign ordered_groups = ordered_groups | push: g %}
  {% endunless %}
{% endfor %}



{% for group in ordered_groups %}
  
  {% assign label = site.data.teaching_categories[group.name] | default: group.name | capitalize %}

  <h2 class="pub-section-heading">
    {{ label }}
    <!-- <span class="pub-section-count">({{ group.items | size }})</span> -->
  </h2>

  {% for post in group.items %}
    {% include archive-single.html %}
  {% endfor %}

{%endfor%}
  <!-- 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
